{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
{% endblock scripts %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-6">Add an item</h1>
    </div>

    <form action="/AddItem/Save" method="post">
        <div class="input-group input-group-lg col-md-8 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
                   name="title">
        </div>
        <div class="input-group col-md-8 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">With textarea</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
        </div>
        <div class="input-group col-md-4 date mb-3" data-provide="datepicker">
            <div class="input-group-prepend">
                <span class="input-group-text">Due date</span>
            </div>
            <input type="text" class="form-control" name="due_date" style="text-align: right">
        </div>
        <button type="submit" class="btn btn-success col-md-2">Save</button>
    </form>
{% endblock %}