{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
        {% if view_model.is_writer %}
            <a href="AddItem" class="btn btn-success col-md-2">Add another item</a>
        {% endif %}
    </div>

    <form action="/StartItem" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>Items</h2>
                        </div>
                        <div class="col-md-2" style="text-align: right">
                            <h4>Due date</h4>
                        </div>
                    </div>
                    <ul class="list-group mb-4">
                        {% for item in view_model.to_do_items %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <b>{{ item.title }}</b> -- {{ item.status }}
                                        <p>{{ item.description }}</p>
                                        {% if view_model.is_writer %}
                                            <button name="id" value="{{ item.id }}" class="btn btn-primary col-sm-2">
                                                Start task
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2" style="text-align: right">
                                        <b>{{ item.due_date_string }}</b>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% for item in view_model.doing_items %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <b>{{ item.title }}</b> -- {{ item.status }}
                                        <p>{{ item.description }}</p>
                                            {% if view_model.is_writer %}
                                                <button name="id" value="{{ item.id }}" class="btn btn-success col-md-2"
                                                        formaction="/CompleteItem">
                                                    Complete task
                                                </button>
                                            {% endif %}
                                    </div>
                                    <div class="col-md-2" style="text-align: right">
                                        <b>{{ item.due_date_string }}</b>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% set done_items = view_model.done_items if view_model.show_all_done_items else view_model.recent_done_items %}
                        {% for item in done_items %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <b>{{ item.title }}</b> -- {{ item.status }}
                                        <p>{{ item.description }}</p>
                                        {% if view_model.is_writer %}
                                            <button name="id" value="{{ item.id }}" class="btn btn-secondary col-md-2">
                                                Restart task
                                            </button>
                                        {% endif %}
                                        {% if view_model.is_writer %}
                                            <button name="id" value="{{ item.id }}" class="btn btn-danger col-md-2"
                                                    formaction="/RemoveItem">
                                                Remove task
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2" style="text-align: right">
                                        <b>{{ item.due_date_string }}</b>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button name="show_completed" value="{{ view_model.show_all_done_items }}" class="btn btn-danger col-md-2"
                            formaction="/ShowCompleted">
                        {% if not view_model.show_all_done_items %}
                            Show all completed tasks
                        {% else %}
                            Show recently completed tasks
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}