{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
        <a href="AddItem">Add another item</a>
    </div>

    <form action="/StartItem" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Items</h2>
                <ul class="list-group mb-4">
                    {% for item in items %}
                        <li class="list-group-item">
                            <b>{{ item.title }}</b> -- {{ item.status }}
                            <p>{{ item.description  }}</p>
                        {% if item.status == 'Not Started' %}
                            <button name="id" value="{{ item.id }}" class="btn btn-primary col-sm-2">
                                Start task
                            </button>
                        {% elif item.status == 'In Progress' %}
                            <button name="id" value="{{ item.id }}" class="btn btn-success col-md-2" formaction="/CompleteItem">
                                Complete task
                            </button>
                        {% elif item.status == 'Completed' %}
                            <button name="id" value="{{ item.id }}" class="btn btn-secondary col-md-2">
                                Restart task
                            </button>
                            <button name="id" value="{{ item.id }}" class="btn btn-danger col-md-2" formaction="/RemoveItem">
                                Remove task
                            </button>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </form>
{% endblock %}