{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
        <a href="AddItem">Add another item</a>
    </div>

    <form action="/EditItem" method="post">
        <div class="row">
            <div class="col-md-12">
                <h2>Items</h2>
                <ul class="list-group mb-4">
                    {% for item in items %}
                        <li>{{ item.title }} -- {{ item.status }}</li>
                            {% if item.status == 'Not Started' %}
                                <button name="complete_id" value="{{ item.id }}" style="max-width: 150px">Complete task</button>
                            {% endif %}
                            {% if item.status == 'Completed' %}
                                <button name="remove_id" value="{{ item.id }}" style="max-width: 150px">Remove task</button>
                            {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
{% endblock %}